* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #e9ecef;
}

html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

#Startup {
	background-color:#FFC9BE;
}

#Not-Just {
	font-size: 1.6rem;
}

.card-title {
	font-size: 3rem;
}

.card-text {
	font-size: 1rem;
}

#Startup {
	height: 100vh;


}

